.ps-dropdown {
    position: relative;
    display: inline-block;
    margin:0;
    padding:0;
}


.ps-dropdown > a {
    margin: 0.5rem;
    padding-left: 3vw;
    padding-right: 4vw;
}




.ps-dropdown-toggle {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 0.7rem 2rem;
    cursor: pointer;
    touch-action: manipulation;
    box-sizing: border-box;
}

    .ps-dropdown-toggle::after {
        content: "▼";
        position: absolute;
        right: 0.8rem;
        top: 50%;
        transform: translateY(-50%);
        font-size: 0.8rem;
    }




.ps-dropdown-menu {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    background-color: rgba(40, 40, 40, 0.9);
    border: 3px solid green;
    border-radius: 10px;
    padding: 0.2rem 0.7rem;
    padding-top: 0;
    min-width: 14rem;
    width: max-content;
    z-index: 1000;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-10px); /* start slightly above */
    transition: opacity 0.3s ease, transform 0.3s ease;
}

    .ps-dropdown-menu.show {
        display: block;
    }

.ps-dropdown-item {
    display: block;
    font-size: 17px;
    min-width: 14rem;
    margin: 0.7rem auto;
}

.ps-dropdown:hover .ps-dropdown-menu {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(-50%) translateY(0); /* slide into place */
}








@media (max-width:1199px) {
    .ps-dropdown > a {
        padding: 0.6rem;
        padding-left: 3vw;
        padding-right: 4vw;
    }

    .ps-dropdown-toggle::after {
        right: 0.7rem;
    }
}




@media (max-width:768px) {
    .ps-dropdown > a {
        padding: 0.1rem;
        padding-left: 5vw;
        padding-right: 5vw;
        width: 55vw;
        margin: 0.2rem auto;
    }
}