.custom-toast {
    position: fixed;
    bottom: 3rem;
    right: 15px;
    background-color: rgb(100, 130, 200);
    border: 5px solid rgb(60, 80, 130);
    margin: 0;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    z-index: 1001;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: opacity 4s;
    text-align: center;
    width: fit-content;
}

#toast-button {
    margin: 0;
    cursor: pointer;
    padding: 1rem 0rem 1rem 2rem;
}


.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(6px);
}


.popup-content {
    display: block;
    margin: 0;
    width: auto;
    height: auto;
    position: relative;
    padding: 6rem;
    max-width: 95%;
    max-height: 95%;
    text-align: center;
    background-color: rgba(90, 110, 160, 0.9);
    border: 4px solid rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    justify-self: center;
    align-content: center;
    transition: 1s;
    box-shadow: black 0px 0px 20px -5px;
}


.close {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 2rem;
    cursor: pointer;
}

.toastClose {
    margin: 0;
    padding: 1rem 1.5rem 1rem 1.5rem;
    cursor: pointer;
}


#email {
    text-align: center;
    border-radius: 5px;
    border: hidden;
    padding: 0.5rem 1rem;
    width: 30rem;
    max-width: 95%;
}

@media (max-width:768px) {
    .custom-toast {
        bottom: -4px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        border-radius: 25px 25px 0 0;
        font-size: 14px;
    }

    #toast-button {
        padding: 0.7rem 0 0.7rem 1rem;
    }

    .toastClose {
        padding: 0.7rem 1.5rem 0.7rem 0.5rem;
    }

    .popup-content {
        padding: 2rem 1rem;
    }
}