
.devlog-categories {
    text-align: center;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
    align-content: center;
}

.pill {
    font-size: 0.9rem;
    background-color: rgba(255,255,255,0.1);
    color: white;
    border: 3px solid rgba(255,255,255,0.2);
    border-radius: 9px;
    padding: 0.2rem 1.7rem;
    cursor: pointer;
    transition: all 0.2s ease;
    height: min-content;
}

    .pill.active,
    .pill:hover {
        background-color: rgb(194, 114, 211);
        border-color: rgb(154, 88, 168);
        transform: scale(1.02);
    }



    

.devlog-header {
    margin-bottom: 1rem;
}



.devlog-title {
    font-size: 1.8rem;
    margin: 0.5rem 0;
    color: white;
    font-weight: bold;
}

.devlog-date {
    text-align: center;
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.7);
    margin: 0;
}



.clickPostDiv {
    cursor: pointer;

    background-color: rgb(85, 81, 90);
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 17px;
    padding: 1.5rem 0.7rem;
    margin: 1.5rem auto;
    width: 98%;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    transition: all 0.2s ease-out;
}

    .clickPostDiv:hover {
        transform: scale(1.005);
        background-color: rgb(90, 87, 97);
        border-color: rgba(255, 255, 255, 0.8);
    }


.devlog-category {
    display: inline-block;
    margin: 3px;
    background-color: rgb(194, 114, 211);
    font-size: 0.8rem;
    padding: 0.2rem 1.5rem;
    border: 3px solid rgb(154, 88, 168);
    border-radius: 9px;
}

.devlog-category-draft {
    background-color: gray;
    border: 3px solid rgba(30,20,30,0.5);
}

.devlog-category-scheduled {
    background-color: rgb(67, 185, 74);
    border: 3px solid rgba(0,60,0,0.5);
}

.devlog-category-recent {
    background-color: orange;
    border: 3px solid rgba(100,60,0,0.5);
}



.devlog-post {
    background-color: rgba(100, 95, 110, 0.6);
    border-radius: 20px;
    padding: 0.8rem;
    margin: 1.5rem auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    overflow: hidden;
}


.postPreview {
    background-color: rgba(180, 170, 200, 0.1);
    border-radius: 17px;
    padding: 0.3rem;
    margin: 0 -0.7rem -1.5rem;
    height: 6.9rem;
    overflow: hidden;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
}

.postBtnDiv {
    width: 100%;
}



.postTextArea {
    font-family: Arial;
    overflow: hidden;
    resize: none;
    width: 100%;
    min-height: 50px;
    max-width: 50rem;
    margin: 0.3rem auto 1.5rem auto;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    border-radius: 12px;
    border: none;
    background-color: rgba(200,200,200,0.3);
    color: white;
    display: block;
    box-shadow: black 0 0 30px -15px;
}




@media (max-width:768px) {
    .pill, .devlog-category {
        font-size: 0.75rem;
    }

    .newPost {
        margin-bottom: 0.7rem;
    }
}