

body {
    background-image: url(/images/background.webp);
    background-size: 30rem;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

p {
    padding: 5px;
    margin: 7px;
    font-size: 17px;
}

.highlight {
    color: orange;
}


h1, h2, h3, h4, h5, h6 {
    text-align: center;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 45px;
    font-weight: bold;
}


h3 {
    text-decoration: underline;
}


.goldenText {
    background: linear-gradient(166deg, rgba(255, 170, 25, 1) 0%, rgba(255, 220, 100, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(1.2) saturate(1.1);
    text-shadow: 0px 0px 5px rgba(255, 150, 30, 0.4);
}

hr {
    width: 80%;
    border: white solid 2px;
    border-radius: 15px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
    margin: 2rem auto;
    opacity: 0.8;
}





ul {
    margin: auto;
    width: fit-content;
    list-style-type: square;
    text-align: left;
}



section {
    border-radius: 20px;
    justify-self: center;
    margin: 1rem;
    padding: 2rem;
    width: 95%;
}



.headerDiv {
    display: inline-block;
    width: stretch;
    align-items: center;
    margin: 0 -0.2rem;
}

div {
    background-repeat: no-repeat;
    background-size: cover;
}

.mainDiv {
    text-align: center;
    background-color: rgba(40, 40, 40, 0.5);
    border: 4px solid rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    min-height: 1rem;
    width: 98%;
    padding: 1.2rem;
    margin: 1.5rem;
    justify-self: center;
    transition: 1s;
    box-shadow: black 0px 0px 20px -5px;
    background-position: center;
    background-repeat: no-repeat;
}



header .mainDiv {
    background: linear-gradient(180deg,rgba(30, 150, 0, 0.5) 0%, rgba(59, 122, 43, 0.5) 100%);
    width: 80%;
    border-radius: 0 0 10px 10px;
    padding-bottom: 0.6rem;
    margin: 0 0 1.5rem 0;
    border-top: unset;
    position: relative;
    top: -2px;
}

footer .mainDiv {
    background: linear-gradient(180deg,rgba(30, 150, 0, 0.5) 0%, rgba(59, 122, 43, 0.5) 100%);
    width: 80%;
    border-radius: 10px 10px 0 0;
    margin: 1.5rem 0 0 0;
    border-bottom: unset;
    position: relative;
    bottom: -2px;
}

.sectionDiv {
    padding: 1rem;
    margin: 0 1rem;
    box-shadow: black 0px 0px 30px -3px;
    border-radius: 20px;
    background: linear-gradient(133deg,rgba(100, 100, 120, 0.7) 0%, rgba(130, 125, 120, 0.7) 100%);
    background-position: center;
    background-repeat: no-repeat;
}


.ps-logo {
    width: 8rem;
    padding: 0;
    margin: -0.7rem 0;
}






/* BUTTONS */
a, button {
    display: inline-block;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgba(67, 185, 74, 1);
    box-shadow: rgba(34, 96, 30, 0.7) 0px 5px;
    font-size: 1.3rem;
    border: 5px solid green;
    border-radius: 10px;
    padding: 0.7rem 5%;
    min-width: 5rem;
    margin: 0.5rem;
    transition: transform 0.1s ease;
}


.purpleBtn {
    background-color: rgb(194, 114, 211);
    box-shadow: rgba(108, 63, 118, 0.7) 0px 5px;
    border: 5px solid rgb(154, 88, 168);
}

.redBtn {
    background-color: rgb(200, 70, 50);
    box-shadow: rgba(96, 30, 30, 0.7) 0px 5px;
    border: 5px solid darkred;
}

.goldenBtn {
    background: linear-gradient(166deg,rgba(209, 151, 27, 1) 0%, rgba(255, 206, 99, 1) 100%);
    box-shadow: rgba(110, 80, 0, 0.7) 0px 5px;
    border: 5px solid rgb(150, 110, 0);
}


.adminBtn {
    background: linear-gradient(343deg,rgba(163, 105, 250, 1) 0%, rgba(125, 110, 255, 1) 100%);
    box-shadow: rgba(57, 49, 97, 0.7) 0px 5px;
    border: 5px solid rgb(91, 69, 156);
}


.squareBtn {
    display: flex;
    margin: 0;
    padding: 0.6rem;
    aspect-ratio: 1 / 1;
    background-color: rgb(130, 130, 130);
    box-shadow: rgba(40, 40, 40, 0.7) 0px 5px;
    border: 5px solid rgb(80, 80, 80);
    border-radius: 5px;
}


a:hover, button:hover {
    color: white;
    box-shadow: black 0px 0px;
    transform: translateY(2px);
}

.defaultLink {
    all: revert;
    color: orange;
}

.headerDiv .navAlign {
    display: inline-block;
    vertical-align: middle;
}

.navSelect.active {
    border-color: rgba(210, 255, 210, 0.6);
}


/* --- */




/* INPUTS */

input {
    width: 100%;
    max-width: 50rem;
    margin: 0.3rem auto 1.5rem auto;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    background-color: rgba(200,200,200,0.3);
    color: white;
    text-align: center;
    display: block;
    box-shadow: black 0 0 30px -15px;
}

    input::placeholder {
        color: rgba(200, 200, 200, 0.8);
    }

    input[type="checkbox"] {
        width: 2rem;
        height: 2rem;
        accent-color: rgba(220,220,220,1);
    }







/* --- */





.carousel {
    box-shadow: black 0px 0px 25px;
    border-radius: 15px;
    overflow: hidden;
}

.carouselBtn {
    box-shadow: none;
}


.icon {
    width: 30px;
}




/* COPYING FEATURE */
.hover-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.hover-text {
    visibility: hidden;
    background-color: rgba(20, 20, 20, 0.85);
    color: #fff;
    text-align: center;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 115%;
    width: max-content;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.hover-container:hover .hover-text {
    visibility: visible;
    opacity: 1;
}
/* --- */




/* ANIMATIONS */

@keyframes fadeSlideUp {
    from {
        opacity: 0.3;
        transform: translateY(25px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-slide-up {
    animation: fadeSlideUp 1.2s ease-out forwards;
}




.shine {
    position: relative;
    overflow: hidden;
}


    .shine::before {
        content: '';
        position: absolute;
        top: 0;
        left: -75%;
        width: 30%;
        height: 100%;
        background: linear-gradient(120deg, transparent 0%, rgba(255,255,255,0.15) 40%, rgba(255,255,255,0.6) 50%, rgba(255,255,255,0.15) 60%, transparent 100%);
        animation: shine 5s linear infinite;
        pointer-events: none;
        will-change: transform;
    }



@keyframes shine {
    0% {
        left: -75%;
    }

    17% {
        left: 125%;
    }

    100% {
        left: 125%;
    }
}




@keyframes rotatePinata1 {

    0% {
        transform: rotate(214deg);
    }

    50% {
        transform: rotate(208deg);
    }

    100% {
        transform: rotate(214deg);
    }
}

@keyframes rotatePinata2 {

    0% {
        transform: rotate(8deg);
    }

    50% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(8deg);
    }
}


.shakeRotation {
    --rotation: 3deg;
    animation: shakeRotation 6s infinite ease-in-out;
}

@keyframes shakeRotation {

    0% {
        transform: rotate(0deg);
    }

    82% {
        transform: rotate(0deg);
    }

    84% {
        transform: rotate(calc(-1 * var(--rotation)));
    }

    86% {
        transform: rotate(var(--rotation));
    }

    88% {
        transform: rotate(calc(-1 * var(--rotation)));
    }

    90% {
        transform: rotate(var(--rotation));
    }

    92% {
        transform: rotate(calc(-1 * var(--rotation)));
    }

    94% {
        transform: rotate(var(--rotation));
    }

    96% {
        transform: rotate(calc(-1 * var(--rotation)));
    }

    98% {
        transform: rotate(var(--rotation));
    }

    100% {
        transform: rotate(0deg);
    }
}







.animatedBorder {
    position: relative;
    z-index: 1;
}

    .animatedBorder::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        border-radius: inherit;
        background-image: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet, red);
        background-size: 200% auto;
        animation: gradient-scroll 2s linear infinite;
        padding: 0;
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        mask-type: luminance;
        box-sizing: border-box;
        border: 3px solid transparent;
    }


@keyframes gradient-scroll {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 200% 50%;
    }
}



/* --- */






/* ONLY TABLETS */
@media (max-width:1200px) {

    header a {
        padding: 0.6rem 3%;
    }

    main a, button {
        padding: 0.6rem 20%;
    }


    .icon {
        width: 20px;
    }

    section {
        padding-left: 4px;
        padding-right: 4px;
    }


    .sectionDiv {
        width: 97%;
        margin: 0 auto 1.5rem auto;
    }
}



/* ONLY PHONES */
@media (max-width:768px) {

    .ps-logo {
        width: 5.5rem;
    }

    h1 {
        font-size: 25px;
    }

    .mainDiv {
        
        width: 99%;
    }

    header a {
        font-size: 18px;
        padding: 0.1rem;
        min-width: 12rem;
        width: 55vw;
        margin: 0.2rem auto;
    }

    header .mainDiv {
        margin-top: 0.5%;
        width: 99%;
    }

    footer .mainDiv {
        margin-bottom: 0.5%;
        width: 99%;
    }

    .headerDiv {
        gap: 5%;
    }

    p {
        font-size: 0.9rem;
    }


    section {
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;
    }

    main a, button {
        font-size: 1.1rem;
    }


    ad-banner {
        transform: scale(0.95);
    }

    
}











