


.troopList {
    display: flex;
    width: max-content;
    animation: scrolling 300s linear infinite;
    will-change: transform;
    backface-visibility: hidden;
    transform: translateZ(0);
    margin: 1.5rem 0;
}

.troopDiv {
    position: relative;
    background: rgba(67, 65, 67, 1);
    padding: 2rem;
    margin: 0 0.5rem;
    display: flex;
    flex-direction: column;
    width: 27rem;
    height: 14rem;
    align-items: center;
    justify-content: center;
    box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.4);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



.troopDiv > img {
    position: absolute;
    width: 30%;
    height: auto;
    bottom: 1.2rem;
    left: 1.2rem;
}


.stats-text {
    width: 66%;
    align-self: center;
    padding: 0.5rem;
    margin: auto 0 auto auto;
    background: rgba(225, 220, 230, 0.2);
    border-radius: 0.3rem;
    border: 2.5px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 10px 0px rgba(200, 200, 200, 0.4);
}


.statsUnlock {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 8px 1.3rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 25px -1px rgba(20, 20, 20, 0.3);
}



@keyframes scrolling {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}





@media (max-width:768px) {

    .troopList {
        animation: scrolling 200s linear infinite;
        margin: -1rem 0;
    }


    .troopDiv {
        margin: 0 -5.2rem;
        transform: scale(0.6);
    }
}